h2 {
    font-family: "Tiempos Text";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

h3{
    font-family: "Tiempos Text";
    text-align: center;
}

button{
    color: #1C1C1C;
}

body{
    padding-top: 56px;
}

#text{
    font-family: "Times", cursive;
    opacity: 0;
    transition: opacity 1s ease, max-height 0.5s ease;
}

.section {
    scroll-margin-top: 90px; /* Adjust based on your header height */
}



@media(min-width:768px){
    p{
        font-size: 18px;
    }
    h2{
        font-size: 22px;
    }
    h3{
        font-size: 20px;
    }
}

@media(min-width:1023px){
    p{
        font-size: 24px;
    }
    h2{
        font-size: 26px;
    }
    h3{
        font-size: 20px;
    }

}




/* Divider */

.divider{
    height:5px;
    background-color: #1C1C1C;
}


/* Home */

#Home{
    background-image: url("./images/Logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    background-color: #D1D3D7;
}

/* About */

#About{
    background-color: #D1D3D7;
    padding: 2%;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    font-family: 'Lucida Sans Regular';
}

#About img{
    border-radius: 50%;
    width:250px;
    height: auto;
    padding: 2%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px){
    .about-content{
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        justify-content: center;
    }

    .about-content p{
       margin-top: 5%;
    }

}

/* Fashion */

#Fashion{
    padding: 3%; 
    text-align: center;
    background-color: #D1D3D7;
}

.carousel {
    position:relative;
    max-width: 100%;
    height: auto;
    aspect-ratio: 3/4; 
    overflow: hidden;
}

.slide{
    inset: 0;
    opacity: 0;
    display: flex;
    position: absolute;
    pointer-events: none;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically*/
    transition: opacity 0.5s ease;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.slide img{
    aspect-ratio: 3/4;
    max-width: 65%;
    height: auto; /* Preserves aspect ratio */
    object-fit: cover; 
    padding: 7%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.slide[data-active]{
    opacity: 1;
    pointer-events: auto;
}

.carousel-button{
    position:absolute;
    z-index: 2;
    top: 50%;
    cursor:pointer;  
    max-width: 50px; /* Fixed width */
    max-height: 50px; /* Fixed height */
    border: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    color: #1C1C1C;
}

.carousel-button:hover,
.carousel-button:focus{
    color: #D4BFAA;
    background-color: #1C1C1C;
}

.carousel-button.prev{
    left: 1rem;
}

.carousel-button.next{
    right: 1rem;
}

/* Popup */

.popup{
    display: none;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #D3D3D3;
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.close_button{
    /*Don't apply directly to button 
    'align-items' and flex-direction, 
    unless parent is a flex container */
    background-color: #C0C0C0;
    cursor: pointer;
    border-radius: 50%;
}

.close_button:hover{
    background-color: #a9a9a9;
    transition: background-color 0.3s ease;
}

/* Show popup when 'visible' class is added to popup1 */
.popup.visible{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #D3D3D3;
}





/* Blog */

#Beauty_Blog{
    background-color: #D3D3D3;
    padding: 3%;
}

.blog-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Lucida Sans Regular';
    gap: 1.3rem;
}

#Beauty_Blog img{
    width: 30%;
    height: auto;
    padding: 2%;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}


/* Review */

#Review{
    padding: 3%;
    background-color: #D3D3D3;
}

.review-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    padding: 3%;
}

#review_img{
    border-radius: 10%;
    width: 100px;
    height: auto;
    cursor: pointer;
}

/* Copyright */

#Copyright{
    padding: 2%;
    font-family: "Times", cursive;
    background-color: #d3d8d8;
}



/* Contact */

#Contact{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding: 3%;
    background-color: #D3D8D8;
}

.button-container {
    background-color: #3a1f47;
    display: inline-block;
    border-radius: 50px;
    position: relative;
    transition: all 220ms ease-in-out;
    margin-top: 1rem;
}

.button-container.expanded {
    transform: translate(-55%);
}

.button-container button{
    border:none;
    background-color: #4B285C;
    color: #FFFFFF;
    padding: .8rem 1.6rem;
    border-radius: 50px;
    font-weight: 900;
    font-family: "Times", cursive;
    width: 100%;
    position: relative;
    left: 10px;
    bottom:10px;
    cursor: pointer;
    transition: all 120ms ease-in-out;
}

.button-container button:hover{
    left: 0;
    bottom: 0;
}


